@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

html, body, #root {
    height: 100%;
}

body {
    background-color: #e7e7e7;
    -webkit-font-smothing: antialiased;
}

body, input, button {
    font-family: Roboto, sans-serif;
}